<!-- Barra de navegação principal -->
<mat-toolbar color="primary" style="background-color: #000000;">
  <!-- Título do aplicativo -->
  <span>NepenFilmes</span>
  <!-- Espaçador flexível -->
  <span class="spacer"></span>
  <!-- Ícone de usuário e nome do usuário (se logado) -->
  <mat-icon fontIcon="person" *ngIf="situacaoLogin == 'Logado'"></mat-icon>
  <div *ngIf="situacaoLogin == 'Logado'" style="margin-right: 6px; font-size: medium;">{{this.nomeUsuario}} - </div>
  <!-- Botão de logout (se logado) -->
  <div *ngIf="situacaoLogin == 'Logado'" (click)="eftuarLogout()" style="cursor: pointer; color: rgb(250, 64, 64); font-size: medium;">Sair</div>
</mat-toolbar>

<!-- Barra de navegação secundária (se logado) -->
<mat-toolbar *ngIf="situacaoLogin == 'Logado'" color="primary" style="background-color: #141414;">
  <!-- Links de navegação -->
  <a mat-button href="/">Inicio</a>
  <a mat-button href="/MeusFilmes">Meus Filmes</a>
  <a mat-button href="/FilmesIMDB">Filmes(Web)</a>
  <!-- Espaçador flexível -->
  <span class="spacer"></span>
</mat-toolbar>

<!-- Componente de login (se deslogado) -->
<app-login *ngIf="situacaoLogin == 'Deslogado'" (inicializarApp)="this.ngOnInit()"></app-login>

<!-- Roteamento de saída (se logado) -->
<router-outlet *ngIf="situacaoLogin == 'Logado'"></router-outlet>
