<div>
    <a mat-button style="color: black; margin-top: 10px;margin-left: 10px;"  href="/MeusFilmes"> -> Voltar para a tela incial</a>
    <div>
        <div class="filme-list">
            <img class="imagem" src="https://image.tmdb.org/t/p/w500/{{Filme.banner}}" alt="texto"/>
            <div *ngIf="editarFlag == false">
                <h1 style="font-size: 42px;"><b>{{Filme.nome}}</b> - <button mat-button style="color: blue;" (click)="editarFlag = true"> Editar</button></h1>
                <h1 style="font-size: 12.5px; max-width: 300px;color: rgb(77, 77, 77);">{{Filme.descricao}}</h1>
                <h1 style="font-size: 14.5px; max-width: 300px;color: rgb(0, 0, 0);"><b>Data de lançamento: </b>{{Filme.anoLancamento}}</h1>
                <h1 style="font-size: 14.5px; max-width: 300px;color: rgb(0, 0, 0);"><b>{{Filme.usernameCriador}} : </b>{{Filme.comentario}}</h1>
            </div>
            <div *ngIf="editarFlag == true">
                <mat-form-field appearance="fill" style="width: 60%;">
                    <mat-label>Nome do filme</mat-label>
                    <input matInput [(ngModel)]="this.NomeDoFilme" placeholder="Ex. Batman">
                </mat-form-field>
                <mat-form-field appearance="fill" style="width: 60%;">
                    <mat-label>Descrição</mat-label>
                    <input matInput [(ngModel)]="this.Descricao" placeholder="Ex. Batman">
                </mat-form-field>
                <mat-form-field appearance="fill" style="width: 60%;height: 200px;">
                    <mat-label>Comentários e Opiniões</mat-label>
                    <input matInput [(ngModel)]="this.Comentarios" placeholder="Ex. Gostei muito desse filme">
                </mat-form-field>
                <br>
                <button mat-button style="color: white; position: fixed;background-color: blue;width: 25%;margin-left: 20px;" (click)="atualizarFilme()">Atualizar</button>
            </div>
        </div>
        
    </div>
</div>