<!-- Seção de Login -->
<mat-card style="width: 450px; margin:50px auto 0 auto" *ngIf="cadastroOuLogin == 'Login'">
    <mat-card-header style="margin: 10px 20px 20px 0">
        <mat-card-title>Login</mat-card-title>
        <mat-card-subtitle>Conecte seu usuário</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div>
            <!-- Campo de entrada para o username -->
            <mat-form-field appearance="fill" style="width: 100%;">
                <mat-label>Username</mat-label>
                <input matInput [(ngModel)]="this.Username" placeholder="Placeholder" required>
                <mat-icon matSuffix>account_circle</mat-icon>
            </mat-form-field>
            <!-- Campo de entrada para a senha -->
            <mat-form-field appearance="fill" style="width: 100%;">
                <mat-label>Senha</mat-label>
                <input matInput [(ngModel)]="this.Senha" placeholder="Placeholder" [type]="hidePassword ? 'password' : 'text'">
            </mat-form-field>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <!-- Botão de entrada -->
        <span class="spacer"></span>
        <button mat-button (click)="efetuarLogin()">Entrar</button>
        <!-- Botão para ir para a seção de cadastro -->
        <button mat-button (click)="cadastroOuLogin = 'Cadastro'">Cadastra-se</button>
    </mat-card-actions>
</mat-card>

<!-- Seção de Cadastro -->
<mat-card style="width: 450px; margin:50px auto 0 auto" *ngIf="cadastroOuLogin == 'Cadastro'">
    <mat-card-header style="margin: 10px 20px 20px 0">
        <mat-card-title>Login</mat-card-title>
        <mat-card-subtitle>Conecte seu usuário</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div>
            <!-- Campo de entrada para o username -->
            <mat-form-field appearance="fill" style="width: 100%;">
                <mat-label>Username</mat-label>
                <input matInput [(ngModel)]="this.Username" placeholder="Placeholder" required>
                <mat-icon matSuffix>account_circle</mat-icon>
            </mat-form-field>
            <!-- Campo de entrada para o nome -->
            <mat-form-field appearance="fill" style="width: 100%;">
                <mat-label>Nome</mat-label>
                <input matInput [(ngModel)]="this.Nome" placeholder="Placeholder" required>
            </mat-form-field>
            <!-- Campo de entrada para a senha -->
            <mat-form-field appearance="fill" style="width: 100%;">
                <mat-label>Senha</mat-label>
                <input matInput [(ngModel)]="this.Senha" placeholder="Placeholder" [type]="hidePassword ? 'password' : 'text'">
            </mat-form-field>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <!-- Botão para voltar para a seção de login -->
        <button style="font-size: small;" mat-button (click)="cadastroOuLogin = 'Login'">Conta existente? entrar</button>
        <span class="spacer"></span>
        <!-- Botão de registro -->
        <button mat-button (click)="efetuarCadastro()">Registrar</button>
    </mat-card-actions>
</mat-card>
